.calender-time-picker {
  width: 300px;
  background-color: #f7f7f7;
  font-size: 14px;
  border: 1px solid #9ccc65;
  box-shadow: 0px 4px 10px 2px #dedede;
  border-radius: 10px;
}
.calender-time-picker .ctp-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-bottom: 3px solid #9ccc65;
}
.calender-time-picker .ctp-header .ctp-button-container * {
  padding: 5px 20px;
  border-radius: 8px;
  background-color: #e5e5e5;
  color: #919191;
  z-index: 0;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.calender-time-picker .ctp-header .ctp-button-container *.ctp-active {
  background-color: #9ccc65;
  color: #fff;
  z-index: 1;
}
.calender-time-picker .ctp-header .ctp-button-container .ctp-date.ctp-active {
  margin-right: -10px;
}
.calender-time-picker .ctp-header .ctp-button-container .ctp-time.ctp-active {
  margin-left: -10px;
}
.calender-time-picker .ctp-body .ctp-month-year {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #9ccc65;
}
.calender-time-picker .ctp-body .ctp-month-year .ctp-prev-month {
  cursor: pointer;
  padding: 5px;
}
.calender-time-picker .ctp-body .ctp-month-year .ctp-next-month {
  cursor: pointer;
  padding: 5px;
}
.calender-time-picker .ctp-body .ctp-main-calender {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(7, 1fr);
  padding: 10px 20px;
}
.calender-time-picker .ctp-body .ctp-main-calender .ctp-box {
  text-align: center;
}
.calender-time-picker .ctp-body .ctp-main-calender .ctp-box-days {
  color: #9ccc65;
}
.calender-time-picker .ctp-body .ctp-main-calender .ctp-box-date {
  padding: 5px;
  border-radius: 5px;
  background-color: #e5e5e5;
}
.calender-time-picker .ctp-body .ctp-main-calender .ctp-box-date:not(.not-current-month):not(.disabled-date) {
  cursor: pointer;
}
.calender-time-picker .ctp-body .ctp-main-calender .weekend-day {
  background-color: #c4c4c4;
}
.calender-time-picker .ctp-body .ctp-main-calender .selected {
  background-color: #689f38;
  color: white;
}
.calender-time-picker .ctp-body .ctp-main-calender .not-current-month {
  cursor: not-allowed;
  color: #f1fbee;
  background-color: transparent;
}
.calender-time-picker .ctp-body .ctp-main-calender .disabled-date:not(.not-current-month) {
  cursor: not-allowed;
  background-color: #888888;
}
.calender-time-picker .ctp-body .ctp-main-time {
  height: 250px;
  position: relative;
}
.calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(1, 30px);
  grid-template-columns: repeat(3, 30px);
  padding: 10px 0;
  width: 120px;
  margin: auto;
}
.calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box.not-opened .ctp-hour, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box.not-opened .ctp-hour, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box.not-opened .ctp-minute, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box.not-opened .ctp-minute, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box.not-opened .ctp-second, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box.not-opened .ctp-second, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box.not-opened .ctp-am-pm, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box.not-opened .ctp-am-pm {
  background-color: #689f38;
  color: white;
}
.calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box-time, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box-time {
  position: relative;
}
.calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box-time .ctp-initial-time, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box-time .ctp-initial-time {
  display: none;
}
.calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box-time.not-opened .ctp-initial-time, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box-time.not-opened .ctp-initial-time {
  display: block;
}
.calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box-time .ctp-overflow-hours, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box-time .ctp-overflow-hours, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box-time .ctp-overflow-minutes, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box-time .ctp-overflow-minutes, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box-time .ctp-overflow-seconds, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box-time .ctp-overflow-seconds, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box-time .ctp-overflow-am-pm, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box-time .ctp-overflow-am-pm {
  max-height: 170px;
  overflow: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: -23px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box-time .ctp-overflow-hours::-webkit-scrollbar, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box-time .ctp-overflow-hours::-webkit-scrollbar, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box-time .ctp-overflow-minutes::-webkit-scrollbar, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box-time .ctp-overflow-minutes::-webkit-scrollbar, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box-time .ctp-overflow-seconds::-webkit-scrollbar, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box-time .ctp-overflow-seconds::-webkit-scrollbar, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box-time .ctp-overflow-am-pm::-webkit-scrollbar, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box-time .ctp-overflow-am-pm::-webkit-scrollbar {
  width: 0;
}
.calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box-time .ctp-overflow-hours.not-visible, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box-time .ctp-overflow-hours.not-visible, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box-time .ctp-overflow-minutes.not-visible, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box-time .ctp-overflow-minutes.not-visible, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box-time .ctp-overflow-seconds.not-visible, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box-time .ctp-overflow-seconds.not-visible, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box-time .ctp-overflow-am-pm.not-visible, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box-time .ctp-overflow-am-pm.not-visible {
  display: none;
}
.calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box-time .ctp-hour, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box-time .ctp-hour, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box-time .ctp-minute, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box-time .ctp-minute, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box-time .ctp-second, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box-time .ctp-second, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-header .ctp-box-time .ctp-am-pm, .calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body .ctp-box-time .ctp-am-pm {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  background-color: #e5e5e5;
}
.calender-time-picker .ctp-body .ctp-main-time .ctp-main-time-body {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 15px;
  transform: translate(-50%, -50%);
}
.calender-time-picker .ctp-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 20px;
  border-top: 3px solid #6ccf4e;
}
.calender-time-picker .ctp-footer button {
  background-color: #9ccc65;
  color: white;
  border: none;
  padding: 5px 15px;
  font-weight: bold;
  border-radius: 5px;
}
.calender-time-picker .ctp-footer button.close-button {
  background-color: #f44336;
}
.calender-time-picker-absolute-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  z-index: 99999;
}