.calender-time-picker-absolute-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  z-index: 99999;
}
.calender-time-picker {
  width: 300px;
  background-color: #f7f7f7;
  font-size: 14px;
  border: 1px solid #9ccc65;
  box-shadow: 0px 4px 10px 2px #dedede;
  border-radius: 10px;
  .ctp-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom: 3px solid #9ccc65;

    .ctp-button-container {
      * {
        padding: 5px 20px;
        border-radius: 8px;
        background-color: #e5e5e5;
        color: #919191;
        z-index: 0;
        position: relative;
        cursor: pointer;
        display: inline-block;
      }
      *.ctp-active {
        background-color: #9ccc65;
        color: #fff;
        z-index: 1;
      }
      .ctp-date {
        &.ctp-active {
          margin-right: -10px;
        }
      }
      .ctp-time {
        &.ctp-active {
          margin-left: -10px;
        }
      }
    }
  }
  .ctp-body {
    .ctp-month-year {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      color: #9ccc65;
      .ctp-prev-month {
        cursor: pointer;
        padding: 5px;
      }
      .ctp-current-month {
      }
      .ctp-next-month {
        cursor: pointer;
        padding: 5px;
      }
    }
    .ctp-main-calender {
      display: grid;
      gap: 10px;
      grid-template-rows: repeat(6, 1fr);
      grid-template-columns: repeat(7, 1fr);
      padding: 10px 20px;
      .ctp-box {
        text-align: center;
      }
      .ctp-box-days {
        color: #9ccc65;
      }
      .ctp-box-date {
        padding: 5px;
        border-radius: 5px;
        background-color: #e5e5e5;
        &:not(.not-current-month):not(.disabled-date) {
          cursor: pointer;
        }
      }
      .weekend-day {
        background-color: #c4c4c4;
      }
      .selected {
        background-color: #689f38;
        color: white;
      }
      .not-current-month {
        cursor: not-allowed;
        color: lighten(#6ccf4e, 40%);
        background-color: transparent;
      }
      .disabled-date:not(.not-current-month) {
        cursor: not-allowed;
        background-color: #888888;
      }
    }
    .ctp-main-time {
      height: 250px;
      position: relative;
      .ctp-main-time-header,
      .ctp-main-time-body {
        display: grid;
        gap: 10px;
        grid-template-rows: repeat(1, 30px);
        grid-template-columns: repeat(3, 30px);
        padding: 10px 0;
        width: 120px;
        margin: auto;
        .ctp-box {
          display: flex;
          justify-content: center;
          align-items: center;
          &.not-opened {
            .ctp-hour,
            .ctp-minute,
            .ctp-second,
            .ctp-am-pm {
              background-color: #689f38;
              color: white;
            }
          }
        }
        .ctp-box-time {
          .ctp-initial-time {
            display: none;
          }
          &.not-opened {
            .ctp-initial-time {
              display: block;
            }
          }
          position: relative;
          .ctp-overflow-hours,
          .ctp-overflow-minutes,
          .ctp-overflow-seconds,
          .ctp-overflow-am-pm {
            max-height: 170px;
            overflow: auto;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-top: -23px;
            border-top: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            &::-webkit-scrollbar {
              width: 0;
            }
            &.not-visible {
              display: none;
            }
          }
          .ctp-hour,
          .ctp-minute,
          .ctp-second,
          .ctp-am-pm {
            cursor: pointer;
            padding: 5px;
            border-radius: 5px;
            background-color: #e5e5e5;
            // 	&:not(.not-current-month) {
            // 		cursor: pointer;
            // 	}
            // }
            // .weekend-day {
            // 	background-color: #c4c4c4;
            // }
            // .selected {
            // 	background-color: #689f38;
            // color: white;
            // }
            // .not-current-month {
            // 	cursor: not-allowed;
            // 	color: lighten(#6ccf4e, 40%);
            // 	background-color: transparent;
            // }
          }
        }
      }
      .ctp-main-time-body {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 15px;
        transform: translate(-50%, -50%);
      }
    }
  }
  .ctp-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 20px;
    border-top: 3px solid #6ccf4e;
    button {
      background-color: #9ccc65;
      color: white;
      border: none;
      padding: 5px 15px;
      font-weight: bold;
      border-radius: 5px;
      &.close-button {
        background-color: #f44336;
      }
    }
  }
}
